<p id="notice"><%= notice %></p>

<div class='mx-auto'>
  <h1>Projects</h1>
</div>

<div class='container'>
  <div class='row'>
    <% @projects.each do |project| %>
      <div class='d-flex'>
        <div class='card'>
          <div class='card-body'>
            <p><h4><%= project.title %></h4></p>
            <p><%= project.description %></p>
            <td><%= link_to 'Show', project %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>