<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style type="text/css">
      u1
      {
        text-align: right;
        list-style-type: none;
      }
    </style>
    <% if user_signed_in? %>
      <u1>
      <li><%= link_to current_user.email, edit_user_registration_path(current_user), class: "user-name" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
      </u1>
    <% else %>
      <u1>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      </u1>
    <% end %>  
    <%= yield %>
  </body>
</html>
